<h1>All Users</h1>

<div class="panel panel-default">

      <div class="Panel-body">
        <table class="table">
          <thead >
            <tr>
              <th>Name</th>
              <th>Email Address</th>
              <th>Grant Access</th>
              <th>Remove Access</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
            </tr>
          <tbody>
<% @users.each do |user| %>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.email %></td>
    <td><%= user.email %></td>

 
<% end %>

          </tbody>
        </table>
      </div>
    </div>



