<tr>
    <td><%= link_to collaborator.name, root_url %></td>
    <td><%= link_to collaborator.email, root_url %></td>
    <td><%= link_to '', collaborator, id: 'collaborators-create', method: :update, class: 'glyphicon glyphicon-ok-circle', remote: true %></td>
    <td><%= link_to '', collaborator, id: 'collaborator-destroy', method: :destroy, class: 'glyphicon glyphicon-remove-circle', remote: true %></td>
</tr>
