<% if @collaborator.destroyed? %>
  $('#collaborator-' +<%= @collaborator.name %>).fadeOut('slow');
<% else %>
  $('.table').prepend("div class='alert alert-error'><%= flash[:error] %></div>");
<% end %>