<h2>Add and Remove collaborators</h2>

<div class="panel panel-default">

  <div class="Panel-body">
    <table class="table">
      <thead >
        <tr>
          <th>Name</th>
          <th>Grant Access</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
        </tr>
        <tbody>

<% @non_collaborators.each do |user| %>
 <tr>
  <td><%= user.name %></td>
  <td><%= link_to '', wiki_collaborators_path(@wiki.id, collaborator.id), id: 'collaborators-update', method: :post, class: 'glyphicon glyphicon-ok-circle', remote: true %></td>
</tr>
<% yield %>

        <% end %> 
        </tbody>
      </table>
    </div>
  </div>

</br>
<%=link_to "Back to Edit", :back %>