<h2>Add and Remove collaborators</h2>

<div class="panel panel-default">

  <div class="Panel-body">
    <table class="table">
      <thead >
        <tr>
          <th>Name</th>
          <th>Grant Access</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
        </tr>
        <tbody>

<% @users.each do |user| %>
 <tr>
  <td><%= user.name %></td>
  <td><%= link_to '', collaborator_path(:wiki_id, :user_id), id: 'collaborators-update', method: :put, class: 'glyphicon glyphicon-ok-circle', remote: true %></td>
</tr>
<% yield %>

        <% end %> 
        </tbody>
      </table>
    </div>
  </div>

</br>
<%=link_to "Back to Edit", :back %>