<h1>All Wikis</h1>
<% @wikis.each do |wikis| %>
   <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to wikis.title, wikis %>
       </h4>
     </div>
   </div>
 
<% end %>